<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="main">
      <div class="titlebar">Nodejs file upload with MongoDB</div>
      <div class="form">
        <form action="/upload" enctype="multipart/form-data" method="post">
          <input
            type="text"
            class="textinput"
            placeholder="Enter a caption here"
            name="caption"
            id="cap"
            required
          />
          <br />
          <input
            type="file"
            class="upload"
            size="100"
            name="pic"
            id="pic"
            accept="image/*"
            required
          />
          <button
            class="uploadbutton"
            type="submit"
            value="upload"
            name="upload"
          >
            Upload
          </button>
        </form>
      </div>
      <br />
      <h2>Photo Gallery</h2>
      <div class="gallery">
        <% if (pics) { %> <% pics.forEach(pic => { %>
        <div class="card">
          <div class="img">
            <img src="uploads/<%= pic.filename %> " alt="<%= pic.caption %> " />
          </div>
          <div class="caption"><%= pic.caption %></div>
        </div>
        <% }) %> <% }else{ %> Gallery Empty! <% } %>
      </div>
    </div>
  </body>
</html>
